<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LED</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="container">
        <div class="section upper">
            <h1>Plain color</h1>
            <div class="buttons">
                <a href="/red">Red</a>
                <a href="/blue">Blue</a>
                <a href="/green">Green</a>
                <a href="/white">White</a>
                <a href="/golden">Golden</a>
                <a href="/colorWipe">Color Wipe</a>
            </div>
        </div>

        <div class="section middle">
            <h1>Animation</h1>
            <div class="buttons">
                <a href="/theaterChase">Theater Chase</a>
                <a href="/rainbow">Rainbow</a>
                <a href="/rainbowCycle">Rainbow Cycle</a>
                <a href="/theaterChaseRainbow">TCR</a>
            </div>
        </div>

        <div class="section lower">
            <h1>Shutdown</h1>
            <div class="buttons">
                <a href="/off">Off</a>
            </div>
        </div>
    </div>
</body>
</html>
