</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>LED</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="container">
        <div class="single">
            <a href="/red">red</a>
            <a href="/blue">blue</a>
            <a href="/green">green</a>
            <a href="/white">white</a>
            <a href="/golden">golden</a>
	    <a href="/off">off</a>
        </div>

        <div class="animation">
            <a href="/colorWipe">colorWipe</a>
            <a href="/theaterChase">TheaterChase</a>
            <a href="/rainbow">Rainbow</a>
            <a href="/rainbowCycle">RainbowCycle</a>
            <a href="/theaterChaseRainbow">TheaterChaseRainbow</a>
        </div>
        
    </div>
</body>
</html>
