/* Style général pour la mise en page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 20px;
    color: #333;
    text-align: center;
    margin-bottom: 15px;
}

.section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

a {
    display: inline-flex; /* Utiliser inline-flex pour conserver le comportement inline */
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    font-size: 18px;
    color: #fff;
    background-color: #007BFF;
    text-align: center;
    text-decoration: none;
    border: 1px solid #007BFF;
    border-radius: 25px;
    width: 140px; /* Taille fixe */
    height: 60px; /* Taille fixe */
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: #0056b3;
    color: #ffffff;
}
